html {
    font-size: 18px;
    background-color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}


#header {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

#header>h1 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

#header>p {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
}


h3 {
    width: 95%;
    margin: 1rem auto;
}


.keyboard-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
    margin-top: 2rem;
}


button {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(45, 43, 49);
    border: 0.16rem solid rgb(35, 35, 35);
    color: rgb(239, 239, 239);
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    margin: 0.1rem;
    font-family: inherit;
}

button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    top: -0.2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;

}

button:active {
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 0.1rem;
    color: rgb(0, 0, 0);
    transform: translateY(2px);
}

#clear {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}


#output {
    padding: 4rem;
    border-radius: 0.5rem;
    width: 95%;
    margin: 0 auto;
    border: .1rem solid black;
    /* To simplify layout calculations, padding and border are included in the element's total width and height*/
    box-sizing: border-box;
    /* add image backgrund to the output*/
    background-image: url(output_background_photo.jpg);
    /* center the background image */
    background-position: center;
    /* ensure the image covers the entire area */
    background-size: cover;
    /* set a minimum height for the output box */
    min-height: 15rem;
}