html {
    font-size: 28px;
    background-color: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


button {
    border: none;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(155, 155, 155);
}


button:hover {
    background-color: darkorchid;
    cursor: pointer;
    position: relative;
    top: -0.1rem;
}

button:active {
    background-color:chocolate;
    cursor: progress;
    position: relative;
    top: 0.2rem;
}


#output {
    background-color: yellow;
    color: black;
    padding: 2rem;
    border-radius: 1rem;
}
