/* tag selectors */

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(255, 100, 0);
    font-size: 5rem;
}

h2 {
    color: blue;
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

h2:hover {
    color: red;
}

a:hover {
    font-size: 25px;
}

img, audio, video {
    width: 100%;
}

img {
    border: 2px solid black;
    width: 50%;
}

/* id selectors */

#active-element {
    color: red;
}

#best-element-ever {
    color: green;
    
}

#active-element, #best-element-ever {
    font-weight: bold;
}

/* class selector */

.undeline {
    text-decoration: underline;
}

h2, #best-element-ever, .underline {
    font-size: 50px;
}

